<form  [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="w-full max-w-7xl mx-auto px-4 py-5 grid grid-cols-1 gap-5">
      <input class="border rounded me-2 border-gray-400 px-2 py-1.5 placeholder:text-gray-400"
             formControlName="title"
             placeholder="Post title"
      >
      <textarea class="border rounded me-2 border-gray-400 px-2 py-1.5 placeholder:text-gray-400"
                formControlName="description"
                placeholder="Post description"
      >
      </textarea
      >
      <input class="border rounded me-2 border-gray-400 px-2 py-1.5 placeholder:text-gray-400"
             formControlName="author_name"
             placeholder="Post author"
      >

    <p>
      <button class="inline-block bg-indigo-600 hover:bg-indigo-700 text-white py-1.5 px-6 rounded cursor-pointer"
              type="submit">
        Add new post
      </button>
    </p>
  </div>
</form>
