<div class="text-xs text-gray-500 flex items-center justify-between">
  <span>{{ post().author_name }}</span>
  <span>{{ post().created_at | date:'MMMM d, y, h:mm' }}</span>
</div>

<h2 class="text-lg font-semibold text-gray-900">{{ post().title }}</h2>
<p class="text-sm text-gray-700">{{ post().description }}</p>

<div class="flex items-center justify-between mt-2">
  <button
    class="flex items-center gap-1 text-pink-600 hover:text-pink-800 transition cursor-pointer"
    (click)="onLike.emit(post().id)"
  >
    ❤️ <span>{{ post().likes_count }}</span>
  </button>

  <button class="bg-red-500 py-1 px-5 rounded text-white cursor-pointer text-red-500 hover:bg-red-700 text-sm transition"
          (click)="onRemove.emit(post().id)"
  >
    Remove
  </button>
</div>
