<div class="text-xs text-gray-500 flex items-center justify-between">
  <span>{{ post().author_name }}</span>
  <span>{{ post().created_at | date:'MMMM d, y, h:mm' }}</span>
</div>

<h2 class="text-lg font-semibold text-gray-900">
  {{ post().title }}
</h2>
<p class="text-sm text-gray-700">
  {{ post().description }}
</p>

<div class="flex items-center justify-between mt-2">
  <button class="flex items-center gap-1 text-pink-600 hover:text-pink-800 transition cursor-pointer"
          (click)="onLike.emit(post().id)"
  >
    <svg width="20px"
         height="20px"
         viewBox="0 0 48 48" version="1"
         xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 48 48"
    >
      <path fill="#F44336"
            d="M34,9c-4.2,0-7.9,2.1-10,5.4C21.9,11.1,18.2,9,14,9C7.4,9,2,14.4,2,21c0,11.9,22,24,22,24s22-12,22-24 C46,14.4,40.6,9,34,9z"/>
    </svg>
    <span>{{ post().likes_count }}</span>
  </button>

  <button class="bg-red-500 py-1 px-5 rounded text-white cursor-pointer text-red-500 hover:bg-red-700 text-sm transition"
          (click)="onRemove.emit(post().id)"
  >
    Remove
  </button>
</div>
